table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 7px;
}

th {
  cursor: pointer;
}

ul li {
  margin-bottom: 3px;
}

button {
  /* border: none; */
  cursor: pointer;
}
